body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #262626;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.hidden {
  display: none;
}
/* Player.jsx */
.player img {
  width: 100px;
  height: 100px;
  background-color: white;
}

.player {
  position: absolute;
  text-align: center;
  border: 1px solid silver;
  width: 100px;
  height: 125px;
  background-color: black;
  color: silver;
}

/* Builder.jsx */
.section {
  width: 1010px;
  height: 100%;
  padding: 10px;
  margin: auto;
  margin-top: 50px;
  box-shadow: 0px 0px 9px 3px rgb(255, 255, 255);
}

.pitch-container {
  width: 500px;
  height: 726px;
  background-color: silver;
  display: inline-block;
  position: relative;
  box-shadow: 0px 0px 9px 3px rgba(207, 207, 207, 1);
}

.form-container {
  width: 500px;
  height: 726px;
  background-color: #fff;
  display: inline-block;
  margin-left: 10px;
  position: absolute;
  box-shadow: 0px 0px 9px 3px rgba(207, 207, 207, 1);
}

/* Pitch.jsx */
.pitch {
  width: 488px;
  height: 714px;
  padding: 6px;
  background-color: green;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  position: relative;
  background: url("./pitch.jpeg");
}

#formation-picker::-ms-expand {
  display: none;
}

#formation-picker {
  position: relative;
  text-align: center;
  top: 670px;
  left: 10px;
  width: 87px;
  height: 32px;
  background-color: #fff;
}

form label {
  display: inline-block;
  width: 10%;
  text-align: center;
  margin-top: 5px;
  padding: 8px;
}

.input-container:first-of-type {
  margin-top: 100px;
}

.input-container {
  padding: 0px;
  margin-top: 0px;
}

form input[type="text"] {
  display: inline-block;
  width: 77%;
  cursor: pointer;
  font-family: Arial, sans-serif;
  margin-top: 5px;
  padding: 8px;
}

.form-container h4 {
  padding: 10px;
  margin-left: 10px;
  width: 90%;
  text-align: center;
  font-family: "Lucida Handwriting", cursive;
  margin-top: 100px;
  padding: 8px;
}
